body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    background-color: #ffe5bf;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #d95bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.weather-container {
    margin-top: 20px;
}
